body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main section h1 {
    background-size: cover;
    background-color: rgb(184, 184, 184);
    padding: 50px;
    margin : 0px;
    font-size: 25pt;
    font-weight: bold;
    text-align: center;
}
main h4 {
    font-size: 23pt;
    font-weight: bold;
}

main h5 {
    font-size: 21pt;
}

main h6 {
    font-size: 19pt;
}

.card-img-top {
    max-width: 450px;
    max-height: 550px;
}

.col-lg-4 {
    justify-content: center;
    grid-auto-columns: auto;
    width: 100%;
    }
.row{
    display: flex;
    justify-content: center;
    padding: 5%;
    width: 90%;
    }
.container {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    main section {
        margin-top : 50px
    }
    .col-lg-5 {       
        width: 45%;
   }
